In [23]:
import numpy as np
import pandas as pd

In [46]:
x = np.array([[2,2,float("NaN"),float("NaN")],[3,float("NaN"),3,4],[float("NaN"),2,3,4]])


y = pd.DataFrame(columns = ["a","b","c","d"], data = x)
y= y.transpose()
y

     0    1    2
a  2.0  3.0  NaN
b  2.0  NaN  2.0
c  NaN  3.0  3.0
d  NaN  4.0  4.0

In [47]:

y = y.fillna(method="bfill")
#y = y.fillna(method="ffill")

y

     0    1    2
a  2.0  3.0  2.0
b  2.0  3.0  2.0
c  NaN  3.0  3.0
d  NaN  4.0  4.0